@page "/fetchToDoTasks"

<PageTitle>Weather forecast</PageTitle>

@using TaskManager.Data
@using TaskManager.Data.Models
@using TaskManager.Data.Services
@inject ToDoTaskService _service


@if (_tasks == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <ul class="TodoTask">
            @foreach (ToDoTask task in _tasks)
            {
                <li class="Task">
                    <a href="#" @onclick="() => SelectTodoTask(task.Id)">
                        <div class="round"> </div>
                        <div class="taskText"><p>@task.Description</p></div>
                    </a>
                </li>
            }
        <!-- <ul class="plus" align="center"><a href="#"><div class="round">+</div></a> -->
        </ul>
        <a href="#" class="newList">
            <div class="round">
                <img src="Shared\img\newList.png" alt="+" align="center">
            </div>
        </a>
}

@code {
    private BaseTask[]? _tasks;

    protected override async Task OnInitializedAsync()
    {
        var newTask = new ToDoTask();
        newTask.Description = "Created on page todo task";
        await _service.CreateTaskAsync(newTask);
        _tasks = _service.GetTasksAsync().Result.ToArray();
    }

    protected void SelectTodoTask(Guid id)
    {
        _service.SelectedTask = _service.GetTaskAsync(id).Result as ToDoTask;

    }

}